/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

// h1 {
//   font-size: 5rem;
// }
